<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496117889863-bevil199e26citd318sarv9mvuls1ume.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496117889863-bevil199e26citd318sarv9mvuls1ume</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496117889863-0dqp3cgpu8et1ah0r4tfrlrpa3m4654d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3DVXj8vUdMuIIqBVXJK3k0De-JHa-rP4</string>
	<key>GCM_SENDER_ID</key>
	<string>496117889863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.you.connect</string>
	<key>PROJECT_ID</key>
	<string>connect-2ee</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-2ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496117889863:ios:edc6041d365263c672ea62</string>
	<key>DATABASE_URL</key>
	<string>https://connect-2ee.firebaseio.com</string>
</dict>
</plist>